@charset "UTF-8";

.knoppen {
  margin: auto;
  width: 20%;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

input[type=submit] {
	width: 20em;
	height: 5em;
	border: 3px solid #003cb3;
	background-color: #6699ff; 
	border-radius: 30px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	color: white;
}