@charset "UTF-8";

input[type=submit] {
	width: 35em;
	height: 5em;
	border: 3px solid #003cb3;
	background-color: #6699ff;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	color: white;
	margin-top: 50px;
} 